target/META-INF/mule-src/git-actions-1/src/main/mule/git-actions-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5633a2ab-e010-4a3f-a93a-6a132dc7fd70" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="git-actions-1Flow" doc:id="50a16d1d-bc57-4c53-aa90-ec868f04b330" >
		<http:listener doc:name="Listener" doc:id="b0375cb1-c7a4-4d2e-8743-8ea018770c28" config-ref="HTTP_Listener_config" path="/git-actions"/>
		<set-payload value='"Hello from Git Actions 1"' doc:name="Set Payload" doc:id="733cffd6-a59a-494e-8a3f-b582b24e3589" />
		<logger level="INFO" doc:name="Logger" doc:id="14d8e0ca-9335-42da-8124-e7d707978571" message="#[payload]"/>
	</flow>
</mule>
