target/classes/metronet-poc-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="58e523f5-30bb-480e-a969-c79683631409" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="metronet-poc-1Flow" doc:id="10af5237-967a-4d88-9b7d-4ece92c55544" >
		<http:listener doc:name="Listener" doc:id="09d0820c-8714-49d8-8ca2-2b8b33da59b5" config-ref="HTTP_Listener_config" path="/metronet"/>
		<set-payload value='#["Message from Metronet"]' doc:name="Set Payload" doc:id="b01ee315-c225-408a-aab9-e8487d43c8dc" />
	</flow>
</mule>
